<svg
  attr.height="{{ (renderRadius + margin) * 2 }}px"
  attr.width="{{ (renderRadius + margin) * 2 }}px"
  attr.viewBox="0 0 {{ (renderRadius + margin) * 2 }} {{
    (renderRadius + margin) * 2
  }}"
>
  <div *ngIf="renderProgress < 100; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <path
      *ngIf="renderProgress > 0"
      fill="none"
      attr.stroke="{{ color }}"
      attr.stroke-width="{{ 0.1 * renderRadius }}"
      stroke-linecap="round"
      attr.d="{{ getPathString() }}"
    />
  </ng-template>
  <ng-template #elseBlock>
    <circle
      fill="none"
      attr.stroke="{{ color }}"
      attr.stroke-width="{{ 0.1 * renderRadius }}"
      attr.cx="{{ renderRadius + margin }}"
      attr.cy="{{ renderRadius + margin }}"
      attr.r="{{ renderRadius }}"
    />
  </ng-template>
  <text
    [ngStyle]="{
      'font-size': 0.7 * renderRadius,
      fill: color,
      stroke: color
    }"
    attr.x="{{ renderRadius + margin }}"
    attr.y="{{ renderRadius + margin }}"
  >
    {{ renderProgress }}%
  </text>
</svg>
