<svg
  *ngIf="
    radius >= MINIMUM_RADIUS &&
    progress >= MINIMUM_PROGRESS &&
    progress <= MAXIMUM_PROGRESS
  "
  attr.height="{{ (radius + margin) * 2 }}px"
  attr.width="{{ (radius + margin) * 2 }}px"
  attr.viewBox="0 0 {{ (radius + margin) * 2 }} {{ (radius + margin) * 2 }}"
>
  <div *ngIf="progress < 100; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <path
      fill="none"
      attr.stroke="{{ color }}"
      attr.stroke-width="{{ 0.1 * radius }}"
      stroke-linecap="round"
      attr.d="{{ getPathString() }}"
    />
  </ng-template>
  <ng-template #elseBlock>
    <circle
      fill="none"
      attr.stroke="{{ color }}"
      attr.stroke-width="{{ 0.1 * radius }}"
      attr.cx="{{ radius + margin }}"
      attr.cy="{{ radius + margin }}"
      attr.r="{{ radius }}"
    />
  </ng-template>

  <text
    [ngStyle]="{
      'font-size': 0.7 * radius,
      fill: color,
      stroke: color
    }"
    attr.x="{{ radius + margin }}"
    attr.y="{{ radius + margin }}"
  >
    {{ progress }}%
  </text>
</svg>
