* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: #fa4616;
    color: white;
  }

  td,
  th {
    border: 2px solid lightgray;
    text-align: left;
  }

  td,
  th > div {
    padding: 8px;
    padding-right: 23px;
  }

  th.sortable:hover {
    cursor: pointer;
  }

  th {
    div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: #fce1da;
    }

    tr:nth-child(odd) {
      background-color: white;
    }

    tr:hover {
      background-color: #f9ac99;
    }
  }
}
