<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let column of columnQuery"
          [ngClass]="{ sortable: sortable && column.sortable }"
          (click)="handleColumnClick(column)"
        >
          <div>
            <svg
              [ngSwitch]="sortProperty === column.property && direction"
              width="15"
              height="15"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <ng-container *ngSwitchCase="'asc'">
                <polyline
                  points="19 10 12 3 5 10"
                  fill="none"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <line
                  x1="12"
                  y1="3"
                  x2="12"
                  y2="22"
                  fill="none"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
              </ng-container>
              <ng-container *ngSwitchCase="'desc'">
                <polyline
                  points="5 14 12 21 19 14"
                  fill="none"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <line
                  x1="12"
                  y1="21"
                  x2="12"
                  y2="2"
                  fill="none"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
              </ng-container>
              <ng-container *ngSwitchCase="'none'"></ng-container>
            </svg>
            <span>
              {{ column.name }}
            </span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayData">
        <td *ngFor="let column of columnQuery">{{ item[column.property] }}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="pageSize !== null">
      <input
        type="number"
        min="1"
        [value]="pageSize"
        (change)="handlePageSizeChange($event)"
      />
      <span>Total:{{ data.length }}</span>
      <button (click)="updatePageNumber(currentPage - 1)">Left</button>
      <span>{{ currentPage }}</span>
      <button (click)="updatePageNumber(currentPage + 1)">Right</button>
    </tfoot>
  </table>
</div>
